<div id="login_box">
  <h2>Ãrea Restrita</h2>

  <div class="content">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <div class="fields">
          <%= f.label :email, "E-mail" %>
          <%= f.email_field :email, :class => "input" %>
        </div>

        <div class="fields">
          <%= f.label :password, "Senha" %>
          <%= f.password_field :password, :class => "input" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="fields">
              <br/>
              <%= f.check_box :remember_me %> <%= f.label :remember_me, "Lembre-se de mim" %>
            </div>
        <% end -%>

        <br/>

        <div class="fields"><%= f.submit "Acessar", :class => "button" %></div>

    <% end %>

    <br/>

    <%= render "usuarios/links" %>
  </div>
</div>